<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    <p>
      One of you financial listeners has been triggered. <%= @listener.company.name %> now has a P/E ratio of <%= @listener.company.pe_ratio %>, which is <%= @listener.trigger %> percent above <%= @listener.company.sector.avg_pe %>, the sector average.
    </p>
    <p>
      Happy trading!
    </p>
    <p> Sent via Financial Metric Watch.</p>
  </body>
</html>